:root {
  --margin-auto: 0 auto;
  --font-lexend: 'Lexend Peta', sans-serif;
  --font-francois: 'Francois One', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.df {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.color-primary {
  color: #192C54;
}
.bg-primary {
  background-color: #192C54;
}
.container {
  max-width: 1400px;
  margin: var(--margin-auto);
}
@media(max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}