:root {
  --margin-auto: 0 auto;
  --font-lexend: 'Lexend Peta', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.df {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.color-primary {
  color: #1C3B6A;
}
.bg-primary {
  background-color: #1C3B6A;
}
.container {
  max-width: 1200px;
  margin: var(--margin-auto);
}